:root {
    --body: #1C354F;
    --menu: #162A3F;
    --font: #FAFCFA;
    --green: #45BF55;
    --lightgreen: #6ACC77;
    --darkgreen: #379944;
    --secondaryfont: 'Epilogue', sans-serif;
    --mainfont: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.test {
    width: 375px;
    height: 2px;
    background-color: #F83082;
}

html {
    /* scroll-behavior: smooth; */
}

body {
    margin: 0 auto;
    color: var(--font);
    background-color: var(--body);
    font-family: var(--mainfont);
    font-weight: 400;
    font-size: 16px;
}

h1 {
    font-family: var(--secondaryfont);
    font-size: 24px;
    font-weight: 300;
    text-align: left;
    line-height: normal;
    padding-bottom: 24px;
    padding-top: 8px;
    line-height: 40px;
}

h2 {
    font-family: var(--secondaryfont);
    font-weight: 300;
    font-size: 32px;
    color: var(--green);
    padding-top: 96px;
    padding-bottom: 28px;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    color: var(--font);
    padding: 20px 0 30px;
    font-family: var(--mainfont);
}

header {
    width: 100%;
    background-color: var(--body);
}

span {
    font-size: 32px;
    color: var(--green);
}

a.nav-link,
a.button {
    color: var(--font);
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.content-wrapper {
    margin: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-divider,
.header-divider {
    width: 251px;
    height: 1px;
    background-color: var(--font);
    margin: 0 auto;
}

.title-divider {
    width: 327px;
    height: 1px;
    background-color: var(--green);
}

/*------------------------------------*\
  #HEADER-SECTION
\*------------------------------------*/

.navbar {
    position: fixed;
    min-height: 88px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body);
    top: 0;
    padding: 0 24px;
    transition: 0.3s ease;
    z-index: 2;
}

.nav-menu {
    display: flex;
    gap: 40px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    font-size: 20px;
    font-weight: 400;
}

.nav-item:hover {
    border-bottom: 1px solid var(--green);
}

.hamburger {
    display: none;
}

/*------------------------------------*\
  #HERO-SECTION
\*------------------------------------*/
#hero .content-wrapper {
    height: auto;
}

/* .memoji {
border: 1px solid;
width: 220px;
height: 220px;
border-radius: 100%;;
}

#hero img {
    width: 200px;
    height: 200px;
} */

.hero-content h1 {
    text-align: center;
}

.hero-content {
    width: 327px;
    margin-top: 144px;
    padding-bottom: 24px;
    text-align: center;
}

.hero-content p {
    padding-top: 32px;
}

.hero-buttons {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-buttons .button {
    width: 202px;
    padding: 12px 68px;
    border: 1px solid var(--green);
    border-radius: 6px;
    color: var(--font);
    margin-bottom: 16px;
    cursor: pointer;
}

.hero-buttons .button:hover {
    background-color: #45BF55;
}

.hero-buttons a:visited {
    text-decoration: none;
}

.project-button,
.contact-button {
    color: var(--font);
    text-decoration: none;
}

/*------------------------------------*\
  #SKILLS-&-TOOLS-SECTION
\*------------------------------------*/

.skillset-container p {
    text-align: center;
    padding: 0 24px;
    font-size: 16px;
}

.tools .skill {
    width: 50%;
    height: 142px;
    /* Re-evaluate this */
    margin-top: 24px;
    margin-bottom: 24px;
}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.html,
.css,
.javascript,
.react,
.node,
.sql,
.api,
.git,
.github-skill,
.figma,
.mobile-first,
.vs-code {
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.html {
    background-image: url("../img/html-5.svg");
}

.css {
    background-image: url("../img/css-3.svg");
}

.javascript {
    background-image: url("../img/javascript-js-square.svg");
}

.react {
    background-image: url("../img/react.svg");
}

.node {
    background-image: url("../img/node-js.svg");
}

.sql {
    background-image: url("../img/database-sql.svg");
}

.api {
    background-image: url("../img/gears.svg");
}

.git {
    background-image: url("../img/git-alt.svg");
}

.github-skill {
    background-image: url("../img/github.svg");
}

.figma {
    background-image: url("../img/figma.svg");
}

.mobile-first {
    background-image: url("../img/mobile-first.svg");
}

.vs-code {
    background-image: url("../img/vs-code.svg");
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tiles-card {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: var(--body);
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tiles-overlay {
    width: 94px;
    height: 94px;
    position: absolute;
    border-radius: 50%;
    background: var(--lightgreen);
    margin: auto;
    z-index: 0;
    transition: transform 0.3s ease-out;
}

.tiles-circle {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    background: var(--body);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
    margin: auto;
}

.tiles-circle::after {
    content: "";
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    background: var(--body);
    border-radius: 50%;
    transition: opacity 0.3s ease-out;
}

.tiles-circle div {
    z-index: 10000;
    transform: scale(1) translateZ(0) rotateY(0deg);
    transition: all 0.3s ease-out;
}

.tiles-circle p {
    opacity: 0;
    visibility: hidden;
    transform: scale(0) translateZ(0) rotateY(180deg);
    transition: all 0.3s ease-out;
    position: absolute;
    z-index: 10000;
    cursor: pointer;
}

.tiles-card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);

    .tiles-overlay {
        transform: scale(4) translateZ(0);
    }

    .tiles-circle {
        background: var(--darkgreen);
        border: 3.5px solid var(--body);
    }

    .tiles-circle::after {
        background: var(--body);
    }

    .tiles-circle div {
        opacity: 0;
        transform: scale(0) translateZ(0) rotateY(180deg);
        position: absolute;
    }

    .tiles-circle p {
        opacity: 1;
        visibility: visible;
        transform: scale(1) translateZ(0) rotateY(0deg);
        position: static;
    }
}

/*------------------------------------*\
  #PROJECT-SECTION
\*------------------------------------*/

.project {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 36px 0 76px;
}

.project-image {
    transition: .5s ease;
}

.project img {
    display: block;
    width: 327px;
    height: auto;
    border-radius: 6px;
}

.project .button {
    padding: 12px 24px;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 500;
    color: var(--font);
    background: var(--body);
    border-radius: 6px;
    border: 1px solid var(--green);
}

.project .button:hover {
    background: var(--green);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.project-info {
    width: 327px;
}

.project-description {
    padding: 30px 0 20px;
}

.skill-list {
    display: flex;
}

.skill-list p {
    font-weight: 500;
    padding-right: 20px;
}

/*------------------------------------*\
  #ABOUT-SECTION
\*------------------------------------*/

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

.about-container p {
    padding-top: 40px;
    text-align: center;
    width: 317px;
}

.about-container img {
    width: 207px;
    margin-top: 28px;
}

/*------------------------------------*\
  #CONTACT-SECTION
\*------------------------------------*/

/************* Form styles *************/

form {
    margin: 36px 0 64px;
    width: 327px;
    height: auto;
}

input,
textarea {
    outline: none;
    font-family: var(--secondaryfont);
}

input[type="text"],
textarea {
    width: 327px;
    background-color: #1C354F;
    border: 1px solid var(--font);
    border-radius: 6px;
    margin: 8px 0 24px;
    color: var(--font);
    padding: 10px;
}

input[type="text"] {
    height: 42px;
}

textarea {
    height: 124px;
    resize: none;

}

input[type="text"]:focus,
textarea:focus {
    border: 1px solid var(--darkgreen);
}

input[type="submit"] {
    width: 327px;
    height: 53px;
    border-radius: 6px;
    font-family: var(--mainfont);
    border: none;
    background-color: var(--green);
    color: var(--font);
    font-size: 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--darkgreen);
}

/*------------------------------------*\
  #FOOTER-SECTION
\*------------------------------------*/

footer {
    margin: 25px 0;
    height: auto;
}

.social-icons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.linkedin-icon {
    background: url("../img/linkedin-in.svg");
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
}

.github-icon {
    background: url("../img/github-social.svg");
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    margin: 0 64px;
}

.email-icon {
    background: url("../img/envelope.svg");
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
}

/*------------------------------------*\
  #MEDIUM-TO-LARGE_MOBILE-STYLES
\*------------------------------------*/

@media (max-width: 1023px) {

    .navbar {
        position: fixed;
        min-height: 88px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--body);
    }

    .nav-menu {
        position: absolute;
        top: -3000px;
        gap: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--menu);
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        padding-top: 120px;
    }

    .nav-item {
        height: 40px;
        width: 70%;
        margin: 24px 0;
        padding: 24px 0;
    }

    .nav-menu.active {
        top: 0;
        background-color: var(--menu);
    }

    .hamburger {
        display: block;
        cursor: pointer;
        width: 28px;
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }

    .hamburger .bar,
    .hamburger:after,
    .hamburger:before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--green);
        margin: 6px 0;
        transition: 0.4s;
    }

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-7px, 4px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-7px, -4px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }
}

/*------------------------------------*\
  #TABLET-STYLES
\*------------------------------------*/

@media screen and (min-width: 768px) {

    h1 {
        font-size: 30px;
        line-height: 48px;
        padding-bottom: 28px;
    }

    h2 {
        font-size: 36px;
        padding-bottom: 32px;
    }

    h3 {
        font-size: 28px;
        padding: 24px 0 34px;
    }

    p {
        font-size: 18px;
    }

    span {
        font-size: 36px;
    }

    .content-wrapper {
        margin: 62px 48px;
        /* border: 1px solid; */
    }

    .hero-divider,
    .header-divider {
        width: 422px;
    }

    .title-divider {
        width: 502px;
    }

    /*------------------------------------*\
      #HEADER-SECTION
    \*------------------------------------*/
    .navbar {
        padding: 0 48px;
        transition: 0.3s ease;
    }

    .nav-menu {
        gap: 24px;
    }

    /*------------------------------------*\
      #HERO-SECTION
    \*------------------------------------*/

    .hero-content {
        margin-top: 212px;
        width: 524px;
        padding: 0 24px;
    }

    .hero-content p {
        padding-top: 36px;
    }

    .hero-buttons {
        flex-direction: row;
        gap: 24px;
    }

    /*------------------------------------*\
      #SKILLS-&-TOOLS-SECTION
    \*------------------------------------*/

    .tools .skill {
        width: 31%;
        height: 164px;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .tiles-circle p {
        font-size: 16px;
    }

    /*------------------------------------*\
          #PROJECT-SECTION
        \*------------------------------------*/

    .project {
        padding: 48px 0 64px;
    }

    .buttons {
        flex-direction: row;
        padding: 0;
    }

    .project img {
        width: 502px;
    }

    .project .button {
        font-size: 14px;
    }

    .project-info {
        width: 502px;
    }

    .project-description {
        padding: 34px 0 24px;
    }

    .skill-list p {
        font-size: 16px;
        padding-right: 24px;
    }

    /*------------------------------------*\
      #ABOUT-SECTION
    \*------------------------------------*/

    .about-container img {
        width: 280px;
        margin-top: 32px;
    }

    /*------------------------------------*\
      #CONTACT-SECTION
    \*------------------------------------*/

    form {
        margin-top: 40px;
    }

    form,
    input[type="text"],
    input[type="submit"],
    textarea {
        width: 507px;
    }

}

/*------------------------------------*\
  #LAPTOP-STYLES
\*------------------------------------*/

@media screen and (min-width: 1024px) {

    /* RESET MARGINS AND PADDINGS FOR ALL HEADINGS, PARAGRAPHS, CONTENT WRAPPERS   */

    h1 {
        font-size: 2.25em;
    }

    h2 {
        font-size: 5em;
        padding-top: 96px;
        text-align: left;
    }

    h3 {
        font-size: 2em;
    }

    .content-wrapper {
        margin: 96px 100px;
    }

    /* Screen width marker */
    /* .test {
        width: 1024px;
        height: 2px;
        background-color: #04C2C9;
    } */

    /*------------------------------------*\
      #HEADER-SECTION
    \*------------------------------------*/
    .navbar {
        padding: 0 100px;
    }

    .nav-item {
        font-size: 1.125em;
        padding: 12px 8px;
        height: auto;
    }

    .hamburger {
        display: none;
    }

    /*------------------------------------*\
      #HERO-SECTION
    \*------------------------------------*/

    .hero-content {
        margin: 0;
        padding: 96px 64px 100px 0;
    }

    /*------------------------------------*\
      #PROJECT-SECTION
    \*------------------------------------*/

    #projects h2 {
        text-align: left;
        /* Adjust globally */
    }

    .project {
        margin: 0 auto;
        padding: 56px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 824px;
        justify-content: space-between;
        align-items: center;
    }

    .project .project-image img {
        width: 360px;
    }

    .project .project-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 215px;
        padding: 0;
        margin: 0;
        width: 360px;
    }

    .project .buttons {
        width: 360px;
        gap: 32px;
        margin-top: 8px;
        /* Add animation/hover effects */
    }

    .unplugged,
    .gallery {
        flex-direction: row-reverse;
    }

    /*------------------------------------*\
      #SKILLS-&-TOOLS-SECTION
    \*------------------------------------*/
    #skillset {
        /* border: 1px dotted red; */
    }

    #skillset h2 {
        padding-top: 96px;
    }

    .skillset-container {
        vertical-align: middle;
        /* border: 1px solid;  */
    }

    .skillset-container h3 {
        /* border: 1px solid; */
        padding-top: 96px;
    }

    .tools .skill {
        width: 25%;
    }

    /*------------------------------------*\
      #ABOUT-SECTION
    \*------------------------------------*/
    #about {
        /* border: 1px dotted red;  */
    }

    #about .about-container {
        /* border: 1px dotted blue; */
        display: flex;
        align-items: left;
        flex-direction: row;
        justify-content: space-between;
    }

    #about h2 {
        padding-top: 96px;
        /* Check all IDs with h2; make them padding: 0; */
        padding-bottom: 104px;
        text-align: left;
        /* border: 1px solid; */
    }

    .about-container {
        /* padding-bottom: 56px; */
        display: flex;
        /* flex-wrap: wrap; */
        text-align: left;
        /* border: 1px solid;  */
    }

    .about-container p:first-of-type {
        font-size: 2em;
        padding: 0 0 24px 0;
        text-align: left;
        /* border: 1px solid; */
    }

    .about-container p:last-of-type {
        font-size: 1.25em;
        font-weight: 300;
        /* border: 1px solid; */
    }

    #about img {
        width: 280px;
        /* border: 1px solid; */
    }

    /*------------------------------------*\
      #CONTACT-SECTION
    \*------------------------------------*/

    #contact .content-wrapper {
        display: block;
    }

    #contact h2 {
        text-align: left;
        padding-top: 96px;
        padding-bottom: 24px;
    }

    .contact-cta {
        font-size: 1.25em;
        text-align: left;
        margin: 0;
        padding: 0;
        width: 100%;
        font-weight: 300;
        /* padding: 24px 88px; */
    }

    .socials {
        margin: 0;
        padding: 80px 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        /* align-items: center; */
        /* flex-wrap: wrap; */
        text-align: center;
        /* gap: 48px; */
    }

    .socials p {
        font-size: 3em;
        padding-bottom: 0;
    }

}

/*------------------------------------*\
  #DESKTOP-STYLES
\*------------------------------------*/

@media screen and (min-width: 1440px) {

    /* .test {
        width: 1440px;
        height: 2px;
        background-color: #F83082;
    } */

    body {
        font-weight: 400;
    }

    h2 {
        padding-top: 0;
        /* border: 1px solid; */
    }

    .content-wrapper {
        margin: 120px 300px;
    }

    /*------------------------------------*\
          #HEADER-SECTION
    \*------------------------------------*/

    .navbar {
        padding: 0 300px;
    }

    .nav-menu {
        gap: 40px;
    }

    /*------------------------------------*\
          #HERO-SECTION
    \*------------------------------------*/

    /* Adjust top padding to 48px */
    #hero .content-wrapper {
        /* border: 1px solid; */
    }

    .hero-content {
        /* border: 1px solid red; */
        margin-top: 300px;
        padding-top: 120px;
        width: 800px;
    }

    .hero-content p {
        font-size: 1.25em;
    }

    /*------------------------------------*\
          #PROJECT-SECTION
    \*------------------------------------*/

    #projects .content-wrapper {
        /* Adjust padding-top for all screen sizes */
        padding-top: 48px;
    }

    /*------------------------------------*\
          #SKILLS-&-TOOLS-SECTION
    \*------------------------------------*/

    #skillset .content-wrapper {
        padding-top: 48px;
    }

    .tools .skill {
        width: 16%;
    }

    /*------------------------------------*\
          #ABOUT-SECTION
    \*------------------------------------*/

    #about .content-wrapper {
        padding-top: 48px;
    }

}

@media screen and (min-width: 2560px) {

    .content-wrapper {
        margin: 120px 500px;
    }

    /*------------------------------------*\
              #HEADER-SECTION
    \*------------------------------------*/

    /* Change logo size */

    .navbar {
        padding: 0 500px;
    }

    .nav-menu {
        gap: 64px;
        font-size: 1.25em;
    }

    .logo img {
        width: 32px;
        height: 38px;
    }

    /*------------------------------------*\
              #HERO-SECTION
    \*------------------------------------*/

    #hero .content-wrapper {
        padding-top: 56px;
    }

    /*------------------------------------*\
              #PROJECT-SECTION
        \*------------------------------------*/

    #projects .content-wrapper {
        /* Adjust padding-top for all screen sizes */
        padding-top: 56px;
    }

    /*------------------------------------*\
              #SKILLS-&-TOOLS-SECTION
        \*------------------------------------*/

    #skillset .content-wrapper {
        padding-top: 56px;
    }

    .tools .skill {
        width: 16%;
    }

    /*------------------------------------*\
              #ABOUT-SECTION
        \*------------------------------------*/

    #about .content-wrapper {
        padding-top: px;
    }

}